# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Big_Data_Final.iml
/misc.xml
/modules.xml
/vcs.xml
/.idea/Big_Data_Final.iml
/auxil/Final_Report.aux
/auxil/Final_Report.log
/auxil/Final_Report.out
/Report/Final_Report.synctex.gz
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/php.xml
/.idea/dictionaries/project.xml
